<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Person</h2>
<form th:object="${person}" method="post">

      <input size="20" th:field="*{firstName}"/>
    <p><input size="20" th:field="*{lastName}"/></p>
        <!--th:replace="~{fragments/inputField :: input ('First Name', 'firstName')}" />-->
      <!--<input>-->
        <!--th:replace="~{fragments/inputField :: input ('Last Name', 'lastName')}" />-->
      <!--<input>-->
        <!--th:replace="~{fragments/inputField :: input ('Address', 'address')}" />-->
      <!--<input>-->
        <!--th:replace="~{fragments/inputField :: input ('City', 'city')}" />-->
      <!--<input>-->
        <!--th:replace="~{fragments/inputField :: input ('Telephone', 'telephone')}" />-->
<p><button>Add person</button></p>
</form>
</body>
</html>
